@model UserChangePasswordViewModel

<h1>Change password</h1>

@using (Html.BeginForm(FormMethod.Post))
{

    @Html.ValidationSummary(false)

    <p>Senas slaptažodis</p>
    <input name="change_password.OldPassword" type="text" />

    <p>Naujas slaptažodis</p>
    <input name="change_password.NewPassword" type="text" />

    <p>Pakartokite naują slaptažodį</p>
    <input name="change_password.ConfirmNewPassword" type="text" />

    <br />
    <br />

    <input type="submit" value="Keisti slaptažodį">

}