<h1>Add Product</h1>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.ValidationSummary(false);
    <b>Pavadinimas:</b> <input type="text" name="product.Name"/><br />
    <b>Aprašymas:</b> <textarea name="product.Description"></textarea> <br />
    <b>Tipas:</b> <select name="product.Type">
        <option value="Nešiojamieji kompiuteriai">Nešiojamieji kompiuteriai</option>
        <option value="Staliniai kompiuteriai">Staliniai kompiuteriai</option>
        <option value="Planšetiniai kompiuteriai">Planšetiniai kompiuteriai</option>
        <option value="Telefonai">Telefonai</option>
        <option value="Kompiuterių komponentai">Kompiuterių komponentai</option>
        <option value="Monitoriai & Televizoriai">Monitoriai & Televizoriai</option>
        <option value="Programinė įranga">Programinė įranga</option>
        <option value="Žaidimų įranga">Žaidimų įranga</option>
    </select><br />
    <b>Kaina:</b> <input type="text" name="product.Price"/><br />
    <b>Kiekis:</b> <input type="text" name="product.Quantity"/><br />
    <input type="submit" value="Sukurti"/>
}